.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 250px;
  height: 150px;
  background-color: white;
  padding: 10px;
  border: 5px;
  border: none;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.header {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 40px;
  margin-top: -10px;
  font-weight: bold;
  color: #fff;
  background-color: #395b64;
  margin-bottom: 8px;
}

button {
  width: 50%;
  background: #395b64;
  padding: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #00000033;
  border-radius: 2px;
  font-size: 15px;
  margin-top: 10px;
  cursor: pointer;
  transition: 200ms;
  color: rgb(255, 255, 255) !important;
}

button:hover {
  background-color: #295b64;
  border: 1px solid black;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
